<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Reprint Official Receipt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Search Term:</ion-label>
    <ion-input
      type="text"
      placeholder="OR Number/Plate No"
      [value]="keyword"
      (input)="keyword=$event.target.value.toLocaleUpperCase()"
    ></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="loadData()"
        >Search</ion-button
      >
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-list-header><h2>Search Result : {{officialreceiptlist.length}}</h2></ion-list-header>
    <ion-item *ngFor="let item of officialreceiptlist">

      <ion-col>
        <ion-label>
          <h3>OR Number : {{item.ornumber}}</h3>
          <p>Gate : {{item.gate}}</p>
          <p>Plate No : {{item.plateno}}</p>
          <p>Payment Date :{{item.paymentdate}}</p>
        </ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="success" (click)="reprint(item.id)">Reprint</ion-button>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
