<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tabs1"></ion-back-button>
    </ion-buttons>
    <ion-title>Issue Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Your next ticket is : {{ticketNo}}</ion-label>
</ion-item>
<ion-item>
  <ion-label>Plate Number:</ion-label>
  <ion-input placeholder="Plate Number" [value]="plateNo" (input)="plateNo=$event.target.value.toLocaleUpperCase()" ></ion-input>
</ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block" (click)="presentLoading()" >Print</ion-button>
  </ion-toolbar>
</ion-footer>
<div id="printer">
  <h5 style="text-align: center; margin-top: 0;">{{myCompanyName}}</h5>
  <h5 style="text-align: center;margin-top: 0;">{{myAddress1}}</h5>
  <h5 style="text-align: center;margin-top: 0;">{{myAddress2}}</h5>
  <h5 style="text-align: center;margin-top: 0;">{{myAddress3}}</h5>
  <h5 style="text-align: center;margin-top: 0;">{{myTIN}}</h5>
  <div id="qrcode">

  </div>
  <p>Plate No      : {{myPlateNo}}</p>
  <p>Ticket No     : {{myTicketNo}}</p>
  <p>Date/Time In  : {{myTimeIn}}</p>
  <p>Terminal      : {{myTerminal}}</p>
  <p>Location      : {{myLocation}}</p>

</div>
