<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Printer</ion-label>
    <ion-input placeholder="Printer"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>MIN</ion-label>
    <ion-input placeholder="MIN"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Serial</ion-label>
    <ion-input placeholder="Serial"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>PTU</ion-label>
    <ion-datetime placeholder="PTU"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Accreditation</ion-label>
    <ion-datetime placeholder="Accreditation"></ion-datetime>
  </ion-item>
  <ion-item>
    <p><i>This will reset the handheld data in the database.</i></p>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button color="danger" expand="block" (click)="showWarning()"
        >Reset Handheld</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="success" expand="block">Save Settings</ion-button>
  </ion-toolbar>
</ion-footer>
