<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Printer</ion-label>
    <ion-input
      placeholder="Printer"
      readonly="true"
      [(ngModel)]="printer"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>MIN</ion-label>
    <ion-input
      placeholder="MIN"
      readonly="true"
      [(ngModel)]="settings.MIN"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Serial</ion-label>
    <ion-input
      placeholder="Serial"
      readonly="true"
      [(ngModel)]="settings.SN"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>PTU</ion-label>
    <ion-input
      placeholder="PTU"
      readonly="true"
      [(ngModel)]="settings.AccreditationDateIssued"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Accreditation</ion-label>
    <ion-input
      placeholder="Accreditation"
      readonly="true"
      [(ngModel)]="settings.AccreditationNo"
    ></ion-input>
  </ion-item>
  <ion-item *ngIf="resetButtonAccess">
    <p><i>This will reset the handheld data in the database.</i></p>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button
        color="danger"
        expand="block"
        (click)="showWarning()"
        [disabled]="!resetButtonAccess"
        >Reset Handheld</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer> </ion-footer>
